html {
  height: 100%;
  background: linear-gradient(#cfdde7, #83a1bb);
  font-family: Roboto, sans-serif;
}

.chat-box {
  width: 400px;
  background-color: #fff;
  margin: 35px auto;
}

.chat-title {
  position: relative;
  padding: 8px 30px 6px 30px;
  background-color: #6a96d8;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
}

.chat-title ul {
  padding-left: 10px;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 18px;
  filter: brightness(0.9);
}

.close-icon:hover {
  filter: brightness(1);
}

.message-list {
  padding: 21px;
}

.message-list::after {
  content: '';
  clear: both;
  display: table;
}

.date-bar {
  margin: 5px 0;
  text-align: center;
  color: #bbb;
  text-transform: uppercase;
  font-size: 0.75em;
}

.date-bar::before,
.date-bar::after {
  content: '';
  display: inline-block;
  width: 35%;
  margin: 4px 15px;
  border-top: 1px solid #ddd;
}

.message-box {
  margin: 15px 0;
  clear: both;
}

.message-box .time {
  margin: 10px 0;
  font-size: 0.7em;
  color: #aaa;
}

.message-box .message {
  display: inline-block;
  position: relative;
  max-width: 70%;
  margin: 0;
  padding: 10px;
  font-size: 0.8em;
}

.message-mine .message {
  border-radius: 0px 5px 5px 5px;
  background-color: #e6edf6;
}

.message-mine .message::before {
  content: '';
  display: block;
  position: absolute;
  left: -5px;
  top: -5px;
  border: 5px solid transparent;
  border-right: 5px solid #e6edf6;
  transform: rotate(135deg);
}

.message-other .time, 
.message-other .message,
.message-blocked .message {
  float: right;
  clear: both;
}

.message-other .message{
  background-color: #f2f2f2;
  border-radius: 5px 0px 5px 5px;
}

.message-other .message::after {
  content: '';
  display: block;
  position: absolute;
  right: -5px;
  top: -5px;
  border: 5px solid transparent;
  border-right: 5px solid #f2f2f2;
  transform: rotate(45deg);
}

.message-blocked .message {
  background-color: #ffc2c1;
  border-radius: 5px 5px 5px 5px;
}

.message-input-box {
  margin: 0 15px;
  padding: 7px 0;
  border-top: 1px solid #ddd;
}

.message-input-box input {
  width: 88%;
  border: none;
  outline: none;
  line-height: 3em;
  font-size: 0.9em;
}

.send-link {
  text-transform: uppercase;
  color: #6f96d8;
  font-weight: 700;
  font-size: 0.9em;
  text-decoration: none;
}
