html {
  height: 100%;
}
body {
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center;
  font-family: Roboto, sans-serif;
}

.content {
  box-sizing: border-box;
  width: 400px;
  margin: 100px auto;
  padding: 60px 40px 30px 40px;
  background-color: #fff;
  border-radius: 5px;
}

.content::after {
  content: '';
  clear: both;
  display: table;
}

.airports-container {
  position: relative;
  margin-bottom: 50px;
}

.airports-container::after {
  content: '';
  clear: both;
  display: table;
}

.airport-container {
  float: left;
  box-sizing: border-box;
  width: 50%;
}

.to-rectangle {
  position: absolute;
  width: 8%;
  height: 5px;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -4%;
  background-color: #d3e6f4;
}

.airport-abrev {
  font-size: 3em;
  font-weight: 900;
  font-family: Prompt;
  color: #3d8acf;
  line-height: 1em;
}

.text-align-right {
  text-align: right;
}

.airport-name {
  text-transform: uppercase;
  color: #ccc;
  font-size: 0.9em;
}

.info-box {
  box-sizing: border-box;
  float: left;
  min-width: 33%;
  padding: 12px 0px;
}

.field-name {
  text-transform: uppercase;
  color: #ccc;
  font-size: 0.8em;
}

.qr-code {
  float: right;
  width: 150px;
  height: 150px;
  padding: 10px 0;
}
