body {
  background-color: #55557e;
  font-family: Roboto, sans-serif;
}

.wrapper {
  margin: 100px auto;
}

.carousel {
  margin: 25px auto;
  padding: 0px;
  display: block;
  width: 375px;
  font-size: 0;
  list-style: none;
}

.carousel img {
  margin-right: 1px;
  display: inline-block;
  padding: 18px 25px 18px 25px;
  background-color: hsl(0, 0%, 15%);
  opacity: 0.5;
}

.carousel img.selected {
  opacity: 1;
  transform: scale(1.3, 1.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.card {
  margin: 0 auto;
  width: 300px;
  background-color: #ddd;
}

.title {
  position: relative;
  box-sizing: border-box;
  height: 150px;
  padding: 75px 20px;
  color: #fff;
}

.title::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('img/food.jpg');
  background-size: cover;
  background-position: center center;
  filter: brightness(0.8);
}

.title h2 {
  position: relative;
  margin: 5px 0;
}

.title h3 {
  position: relative;
  margin: 0px;
  font-size: 0.8em;
  font-weight: 500;
}

.location-icon::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  margin-bottom: -1px;
  width: 15px; height: 15px;
  vertical-align: baseline;
  background-image: url('img/location.svg');
  background-size: cover;
  background-position: center center;
}

.item-count {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-count li {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 1px;
  color: #999;
  font-weight: 500;
  font-size: 0.9em;
}

.fl-right {
  float: right;
}
