body {
  background-color: #78abcc;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.wrapper {
  background-color: #fff;
  width: 400px;
  margin: 150px auto;
}

.header {
  box-sizing: border-box;
  padding: 20px;
  padding-top: 19px;
  border-bottom: 1px solid #ddd;
  color: #7d8994;
  font-weight: 500;
}

.fl-right {
  float: right;
}

.calendar {
  font-size: 0.9em;
  padding: 5px 20px 22px 20px;
}

.cal-header,
.cal-row {
  display: block;
  margin: 0.6rem 0;
  margin-left: 2px;
}

.cal-header {
  margin-bottom: -3px;
}

.cal-item {
  display: inline-block;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  line-height: 2em;
  padding-top: 2px;
  padding-left: -1px;
  margin: 0 8px;
  text-align: center;
  border-radius: 50%;
}

.cal-header {
  font-weight: 900;
  text-transform: uppercase;
  color: #7d8994;
  font-size: 13px;
}

.selected {
  color: #fff;
  background-color: #de6e45;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px #de6e45;
}

.circled {
  position: relative;
  border-radius: 50%;
}

.circled-purple {
  box-shadow: 0px 0px 0px 2px #ae5989;
}

.circled-orange {
  box-shadow: 0px 0px 0px 2px #de6d46;
}

.badge {
  line-height: 15px;
  position: absolute;
  display: block;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: #fff;
  font-size: 10px;
}

.badge-purple {
  background-color: #ae5989;
}

.badge-orange {
  background-color: #de6d46;
}


.other-month {
  color: #ddd;
}

.footer {
  box-sizing: border-box;
  margin: 0;
  border-top: 1px solid #ddd;
  padding: 20px 20px;
  font-size: 0.8em;
  font-weight: 500;
}

.footer::after {
  content: '';
  clear: both;
}

.footer-left,
.footer-right {
  display: inline-block;
  width: 20%;
}

.footer-right {
  text-align: right;
  line-height: 35px;
}

.footer-center {
  width: 58%;
  display: inline-block;
}

.round-button {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  border: 2px solid green;
  font-size: 12px;
  font-weight: 700;
  background-color: #fff;
}
