body {
  background-color: hsl(217, 49%, 68%);
  font-family: Roboto, sans-serif;
}

.options-box {
  display: table;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  margin-top: 131px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 0 40px hsl(0, 0%, 40%);
}

.option-pane {
  text-align: center;
  display: inline-block;
  vertical-align:top;
  width: 190px;
  height: 250px;
  border-radius: 3%;
  margin: 10px;
  padding: 29px 45px 20px 45px;
}

.option-pane:hover {
  background-color: hsl(0, 0%, 95%);
  border-radius: 0px;
}

.option-pane img {
  display: block;
  margin: auto;
  width: 65px;
}

.option-title {
  text-transform: uppercase;
  font-size: 1.1em;
  color: hsl(227, 62%, 64%);
  padding-top: 17px;
  letter-spacing: 3px;
}

.option-description {
  height: 50px;
  font-size: 0.75em;
  line-height: 1.5em;
  color: hsl(227, 5%, 65%);
  font-weight: 450;
}

.option-price {
  font-size: 1.6em;
  font-weight: 500;
  color: hsl(227, 62%, 64%);
}

.option-price:first-letter {
  font-size: 0.5em;
  vertical-align: top;
}

.option-price-small {
  font-size: 0.6em;
}
