body {
  background-color: #c9f8fe;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0;
}

.wrapper {
  margin: 60px auto;
  width: 1000px;
  background-color: #fff;
  display: flex;
}

.left-panel {
  position: relative;
  color: #fff;
  width: 45%;
  padding: 215px 0;
}

.left-panel::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center center;
  filter: brightness(0.6);
}

.text-box {
  position: relative;
  margin-left: 115px;
}

.text-box__title {
  margin: 0;
  font-size: 1.9em;
}

.text-box__subtitle {
  margin: 10px 0 20px 0;
  font-weight: 500;
  font-size: 0.95em;
}

.text-box__button::before {
  content: '';
  display: inline-block;
  width: 24px; height: 24px;
  margin-right: 10px;
  vertical-align: middle ;
  background-image: url('img/file.svg');
}

.text-box__button {
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #5ca893;
  color: #fff;
  font-size: 0.9em;
  letter-spacing: -0.06em;
  opacity: 0.9;
  cursor: pointer;
}

.text-box__button:hover {
  opacity: 1;
}

.right-panel {
  box-sizing: border-box;
  padding: 40px;
  width: 55%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.title::after {
  content: '';
  width: 25px; height: 25px;
  background-image: url('img/menu.svg');
}

.carousel {
  position: relative;
  margin: 31px 0;
  padding: 0;
  font-size: 1.3em;
  overflow: hidden;
  white-space: nowrap;
}

.carousel::after {
  content: '';
  position: absolute;
  right: 0; top: 0;
  width: 30px; height: 100%;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 255, 255, 1));
}

.carousel__item {
  display: inline-block;
  margin-right: 12px;
  color: #bbb;
  cursor: pointer;
}

.carousel__item:hover {
  color: #333;
}

.carousel__item--active,
.carousel__item--active:hover {
  color: #000;
}

.article-list__item + .article-list__item {
  margin-top: 40px;
}

.article-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.95em;
}

.article_list__item-icon {
  display: inline-block;
  width: 40px; height: 40px;
  margin-right: 20px;
  vertical-align: middle;
  border-radius: 50%;
}

.article_list__item-desc {
  display: inline;
  flex-grow: 1;
}

.date-column {
  flex-basis: 80px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column ;
  flex-wrap: wrap;
  height: 2.5em;
}    

.date-column__day {
  font-size: 2.3em;
  font-weight: 100;
  margin-right: 10px;
}

.date-column__month {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9em;
}

.date-column__year {
  font-size: 0.9em;
}
