body {
  font-family: Roboto, sans-serif;
  background-image: url("img/background.jpg");
}

.box {
  margin: 100px auto;
  width: 340px;
  box-sizing: border-box;
  padding: 0; /*removing default padding inherited from default ul*/
}

.item {
  display: block;
  padding: 18px 15px;
  border-top: 1px solid #ddd;
  background-color: #fff;
  text-transform: uppercase;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.selected-dot {
  background-color: #999;
}

.title {
  text-align: center;
  font-size: 1.1em;
  font-weight: 500;
  color: #000;
}

.option {
  font-weight: 600;
  color: #BBB;
  font-size: 0.8em;
}

.option:hover {
  background: #EEE;
}

.icon {
  height: 2em;
  margin: -0.38em 25px;
  vertical-align: bottom;
}

input[type="radio"] {
  position:fixed;
  opacity:0;
}

input[type="radio"]:checked + label > li {
  color: #000;
}

input[type="radio"]:checked + label > li:after{
  content: url("img/check.svg");
  float: right;
  margin: -0.38em 10px;
}

.btn-container {
  padding: 0px;
  border: 0;
  background-color: #598bdd;
}

.next-button {
  padding: 15px 0px;
  border: 0;
  width: 100%;
  background-color: #598bdd;
  text-transform: inherit;
  text-align: center;
  font-size: 0.8em;
  color: #fff;
}

.next-button:active {
  transform: scale(0.99);
}

.next-button:focus {
  outline: 1px solid #598bdd;
  outline-offset: -1px;
}

.arrow {
  height: 1.3em;
  margin: -0.1em 5px;
  vertical-align: middle;
}
