body {
  margin: 0;
  background-color: #8f89ef;
  font-family: Roboto, sans-serif;
}

.wrapper {
  margin: 100px auto;
  width: 300px;
  background-color: #ad7bd4;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.fancy {
  list-style: none;
}

.fancy {
  position: relative;
  padding: 22px 0 0 0;
  font-size: 15px;
}

/* top white vertical bar */
.fancy:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 31px;
  width: 2px;
  height: 45px;
  background-color: #fff;
}

.fancy > li {
  box-sizing: border-box;
  position: relative;
  color: #fff;
  font-weight: 500;
}

.fancy > .closed:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 31px;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.list-vert-bars {
  list-style: none;
}

.list-vert-bars {
  position: relative;
  padding: 20px 55px;
  background-color: #5f5280;
}

/* vertical bars at top and bottom of inner ul */
.list-vert-bars:before,
.list-vert-bars:after {
  content: '';
  display: block;
  position: absolute;
  left: 31px;
  width: 2px;
  height: 28px;
  background-color: #aaa;
}

.list-vert-bars:before {
  top: 0;
}

.list-vert-bars:after {
  bottom: 0;
}

.list-vert-bars > li{
  position: relative;
  color: #d6d7de;
  padding: 10px 0;
}

.list-vert-bars > li:hover{
  color: #fff;
  cursor: pointer;
}

/* bigger bullet for inner li */
.list-vert-bars > li:before {
  content: '';
  display: block;
  position: absolute;
  top: 1em;
  left: -27px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

/* vertical bar before inner li */
.list-vert-bars > li:after {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  left: -24px;
  width: 2px;
  height: 16px;
  background-color: #aaa;
}

.icon {
  position: relative;
  box-sizing: border-box;
  padding: 22px 20px 22px 55px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.icon:after {
  content: '';
  display: block;
  position: absolute;
  top: 30%;
  left: 20px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.icon.photo-icon:after {
  background-image: url('img/photo.svg');
}

.icon.folder-icon:after {
  background-image: url('img/folder.svg');
}

.arrow-down-icon {
  display: block;
  margin-top: -4px;
  float: right;
  width: 24px;
  height: 24px;
  background-image: url('img/arrow.svg');
}

